* {
    margin: 0;
    padding: 0;
}

body {
    background: #151618;
}

.login {
    height: 100vh;
}

.product-info {
    justify-content: space-between !important;
}

.payment-container {
    margin: 5rem 0;
}

.payment-data {
    padding: 3rem 4rem;
}

.payment-data > * + * {
    padding-top: 1.5rem;
}

.option-container {
    height: 120px;
    width: 20%;
    padding: 2rem;
    background: #eceff1;
    border-radius: 1.5rem;
    transition: 0.5s;
    margin-right: 5rem;
    cursor: pointer;
}

.option-container:hover,
.option-container:focus {
    transform: scale(1.2);
}
