@import './Variables.css';

.login {
    background: var(--backgroundPrimary);
    height: 100vh;
}

.button {
    background: var(--backgroundSecondary) !important;
    color: var(--foregroundPrimary) !important;
}
